@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 40px;
    margin: 0;
}

.paragraph {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: -2.16px;
}

.text-content {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.linkings {
    display: flex;
    gap: 40px;
    flex-direction: row;
    font-size: 24px !important;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.visible {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 1s ease, max-height 1s ease;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.read-more,
.show-less {
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
}

.read-more:hover,
.show-less:hover,
a:hover {
    text-decoration: underline;
}

.highlight {
    color: #fff;
    background-color: #000;
    border-radius: 16px;
}

@media screen and (max-width: 768px) {
    body {
        padding: 16px;
    }

    .text-content {
        gap: 24px;
    }

    .paragraph {
        font-size: 32px;
    }

    .linkings {
        font-size: 16px;
        gap: 24px;
    }

    .read-more:hover,
    .show-less:hover {
    text-decoration: none;
}

}